@font-face {
    font-family: Raleway-SemiBold;
    src: url("../fonts/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: Raleway-Medium;
    src: url("../fonts/Raleway/Raleway-Medium.ttf");

}

@font-face {
    font-family: Raleway-MediumItalic;
    src: url("../fonts/Raleway/Raleway-MediumItalic.ttf");

}

@font-face {
    font-family: Raleway-Regular;
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}


html {
    font-size:10px;
}


body {
    margin:0px;
}

.conteiner {
    max-width: 740px;
    margin:0 auto;
}

.text-description-for-other-item {
    font-size:1.3rem;
    color:#747474;
    font-family: Raleway-Medium;
    line-height:1.8;
}

/*НАЧАЛ ДЕЛАТЬ HEADER*/


.header {
    background-color:#353541;
    color:#ffffff;

}

.header__title {
    display:flex;
    justify-content: center;
    flex-direction: column;
    color:#ffffff;
    align-items: center;
    padding:115px 0px 115px 0px;
       
}


.header__title-heading {
    font-size:3.7rem;
    font-family: Raleway-SemiBold;
    line-height: 0;

}

.header__title-description {
    font-size:1.1rem;
    color:#d8d8da;
    font-family: Raleway-Medium;
    width:425px;
    text-align:center;
    line-height: 2.5;

}

.header__button {
    padding:17px 44px 17px 44px;
    background-color:#fb6470;
    font-size:1.7rem;
    border:none;
    border-radius: 3px;
    font-family: Raleway-Medium;
    color:#ffffff;
    margin-top: 20px;
    line-height: 0.6;
}

/*ЗАКОНЧИЛ ДЕЛАТЬ HEADER*/


/*НАЧАЛ ДЕЛАТЬ БЛОК ABOUT ME*/

.about-me{
    display:flex;
    justify-content: space-between;
    color:#3e3e3e;
    padding:80px 0px 80px 0px;
    border-bottom:solid #e5e5e5 1px;
    
}



.about-me__text {
    width:50%;

    .about-me__text-description {
        @extend .text-description-for-other-item;
        margin-bottom:45px;
    }

    
.about-me__text-item-resume {
    font-size:1.4rem;
    color:#3e3e3e;
    font-family: Raleway-Regular;
    padding:18px 0px 18px 0px;
    background-color:#f9f9f9;
    border-bottom: 1px solid #e0e0e0;


    .about-me__text-item-resume-category {
        font-weight:900;
    }

}
    
}

.about-me__text-item-resume:last-child {
    border-bottom:none;
}




.about-me-photo {
    width:50%;
    height:auto;
    padding-left:50px;
    box-sizing:border-box;

    .about-me-photo-image {
        max-width: 100%;
        height: auto;
    }
}



.heading-block-name {
    font-size:2.4rem;
    font-family: Raleway-SemiBold;
    line-height:1.8;
    margin-bottom:33px;
    color:#3e3e3e;
    margin-top:0px;
    

    .heading-block-name__border {
        height:2px;
        border-bottom: solid 2px #fb6470;
        width:75px;
    
    }
}

/*ЗАКОНЧИЛ ДЕЛАТЬ БЛОК ABOUT ME*/

/* НАЧАЛ ДЕЛАТЬ БЛОК WORK EXPERIENCE*/
.work-experience {
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding:80px 0px 80px 0px;
    border-bottom:1px #e5e5e5 solid;
    
}


h2.heading-block-name {
    font-weight:400;
    width:100%;
    
}

.work-experience__experience-left-block,
.work-experience__experience-right-block {

    width:43%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding:100px 0px 0px 0px;
    

}

.block-with-description-and-date-and-name {
    position: relative;
    padding: 8px 20px 10px 20px;
    background-color:#353541;
    border-radius:7px;
    display:inline-block;
   

        .block-with-description-and-date-and-name__head {
        font-size:1.35rem;
        color:#bebed0;
        font-family: Raleway-Medium;
        line-height:1;
        margin:8px 0px 8px 0px;

            .block-with-description-and-date-and-name__head-name {
            color:#ffffff;
            
         }
     }

        .block-with-description-and-date-and-name__date {
        color:#d35965;
        font-size:1.2rem;
        font-family: Raleway-Medium;
        line-height: 0.8;
        margin:6px 0px 6px 0px;
     }

        .block-with-description-and-date-and-name__description {
        @extend .text-description-for-other-item;
        line-height: 1.2;
        margin:6px 0px 6px 0px;
        
     }

}
/*
.block-with-description-and-date-and-name:after {
    display:inline-block;
    border-left:#353541 solid 40px;
    border-top:25px solid;
    border-bottom:solid 15px #353541;
    border-right-color:transparent;
    border-top-color:transparent;
    border-bottom-color:transparent;
    transform:skewY(12deg);
    content:"";
    right:0px;
    position: absolute;
    right:-18px;
    bottom:0px;
    bottom:20px
}

*/
.block-with-description-and-date-and-name_arraw-on-left-side:after {
    display:inline-block;
    border-right:#353541 solid 40px;
    border-top:15px solid;
    border-bottom:solid 25px #353541;
    border-left-color:transparent;
    border-top-color:transparent;
    border-bottom-color:transparent;
    content:"";
    transform:skewY(12deg);
    position: absolute;
    left:0px;
    top:0px;
    left: -18px;
    top: 20px;
}


.work-experience__experience-right-block {

    padding:0px 0px 95px 0px;
}

/*ЗАКОНЧИЛ ДЕЛАТЬ БЛОК EXPERIENCE*/

/*НАЧАЛ ДЕЛАТЬ БЛОК EXPERINCE*/
.education {
    @extend .work-experience;
}

.education__left-block,
.education__right-block {

    @extend .work-experience__experience-left-block;
}

.education__right-block {
    @extend .work-experience__experience-right-block;
}


/*ЗАКОНЧИЛ БЛОК EXPERINCE*/
