@font-face {
    font-family: Raleway-SemiBold;
    src: url("../fonts/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: Raleway-Medium;
    src: url("../fonts/Raleway/Raleway-Medium.ttf");

}

@font-face {
    font-family: Raleway-MediumItalic;
    src: url("../fonts/Raleway/Raleway-MediumItalic.ttf");

}

@font-face {
    font-family: Raleway-Regular;
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}


html {
    font-size:10px;
}


body {
    margin:0px;
    position:relative;
}

.conteiner {
    max-width: 740px;
    margin:0 auto;
    
}

.text-description-for-other-item {
    font-size:1.3rem;
    color:#747474;
    font-family: Raleway-Medium;
    line-height:1.8;
}


.heading-block-name {
    font-size:2.4rem;
    font-family: Raleway-SemiBold;
    line-height:1.8;
    margin-bottom:33px;
    color:#3e3e3e;
    margin-top:0px;
    

    .heading-block-name__border {
        height:2px;
        border-bottom: solid 2px #fb6470;
        width:75px;
    
    }
}

/*НАЧАЛ ДЕЛАТЬ HEADER*/



.header {
    background-color:#353541;

    .header__title {
        display:flex;
        justify-content: center;
        flex-direction: column;
        color:#d8d8da;
        align-items: center;
        padding:115px 0px 115px 0px;

        .header__title-heading {
            font-size:3.7rem;
            font-family: Raleway-SemiBold;
            line-height: 0;
        }

        #lineDrawing {
            height:auto;
            width:630px;
            fill:none;
            stroke-width: 0.3px;
        }

        .header__title-description {
            font-size:1.1rem;
            color:#d8d8da;
            font-family: Raleway-Medium;
            width:425px;
            text-align:center;
            line-height: 2.5;
    
        }     
    }
}

.button {
    padding:17px 44px 17px 44px;
    background-color:#fb6470;
    font-size:1.7rem;
    border:none;
    border-radius: 3px;
    font-family: Raleway-Medium;
    color:#ffffff;
    margin-top: 20px;
    line-height: 0.6;
}

/*HOVER ДЛЯ BUTTOM*/
.button:hover {
    background-color:#c9b9b9;
    color:#0c0c0c;
}
/*ЗАКОНЧИЛ HOVER ДЛЯ BUTTOM*/

/*ЗАКОНЧИЛ ДЕЛАТЬ HEADER*/

/*НАЧАЛ ДЕЛАТЬ MENU*/

.menu-button-input:checked ~ .navigation {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: visible;
}

.menu-button-input:checked ~ .navigation > .menu-button {
    display:none;
}

.menu-button-input:checked ~ .nav > .menu-button  {
    left: auto;
    right: 2px;
    top: 1em;
}

.menu-button-input:checked ~ .navigation {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: visible;
}


#menu-button-id {
    display:none;
}

.navigation {
    box-sizing:border-box;
    width: 275px;
    min-height: 100%;/*Не задается высота отностельно body почему?*/
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    left: -275px;
    padding: 0px 0px 0px 0px;
    -webkit-transition: 0.3s;
    -moz-transition:  0.3s;
    transition:  0.3s;
    background: #353541;
    z-index: 2000;

     
    .navigation__head {
        height:220px;
        color:#ffffff;
        font-family: Raleway-Medium;
        background: linear-gradient(to top,#353541 0%, #353542 20%, #2e3b4b 50%, #28313e 80%,#23242c 100%);
        .name-author {
            font-size: 2.4rem;
            margin-top: 100px;
            margin-left: 30px;
            margin-bottom: -15px;
        }
        .profession {
            font-size:1.3rem;
            margin-left: 30px;
        }
    }

    .navigation__listen-menu {
        padding:0px;

        .navigation__listen-menu-item {
            display:block;
            padding:20px 0px 20px 30px;
            border-bottom:solid 1px #282835;
            list-style-type:none;
        }
    }


}

.wrapper-button {
    position: relative;
}

.menu-button {
    display:block;
    width:45px;
    fill:#fb6470;
    position: absolute;
    top: 60px;
    left:100px;
}

.menu-buttom-close {
    font-size:3rem;
    color:#fb6470;
    font-family: Raleway-Regular;
    position: relative;
    top: 20px;
    left: 20px;
}

.navigation__listen-menu-link {
    font-size:1.7rem;
    color:#ffffff;
    text-decoration: none;
    font-family: Raleway-Medium;
    
}


/*ЗАКОНЧИЛ ДЕЛАТЬ МЕНЮ*/


/*НАЧАЛ ДЕЛАТЬ БЛОК ABOUT ME*/


.about-me{
    display:flex;
    justify-content: space-between;
    color:#3e3e3e;
    padding:80px 0px 80px 0px;
    border-bottom:solid #e5e5e5 1px;
    
}



.about-me__text {
    width:50%;

    .about-me__text-description {
        @extend .text-description-for-other-item;
        margin-bottom:45px;
    }

    .about-me__text-item-resume {
        font-size:1.4rem;
        color:#3e3e3e;
        font-family: Raleway-Regular;
        padding: 20.25px 0px 20px 0px;
        background-color:#f9f9f9;
        border-bottom: 1px solid #e0e0e0;

         .about-me__text-item-resume-category {
        font-weight:900;
        }

    }
    
}

.about-me__text-item-resume:last-child {
    border-bottom:none;
}

.about-me-photo {
    position: relative;
    width:50%;
    height:auto;
    padding-left:50px;
    box-sizing:border-box;

        .about-me-photo-image {
        max-width: 100%;
        height: auto;
         }
        .about-me-photo-image_smile {
        position: absolute;
        max-width: 86.488%;
        height: auto;  
        top: 0px;
        left: 13.6%;
        opacity: 0;
        }

}

.about-me-photo-image_visible {
    opacity:1 !important;
}


/*HOVER ДЛЯ КАРТИНКИ*/
.about-me-photo:hover 
.about-me-photo-image_smile {
    opacity:1;
    // -webkit-transition:opacity 0.1s linear;
    //  -moz-transition:opacity 0.1s linear;
    //  -o-transition:opacity 0.1s linear;
    //  transition:opacity 0.1s linear;
}

.about-me-photo:hover 
.about-me-photo-image {
    opacity:0;
}

/*ЗАКОНЧИЛ HOVER ДЛЯ КАРТИНКИ*/
/*ЗАКОНЧИЛ ДЕЛАТЬ БЛОК ABOUT ME*/

/* НАЧАЛ ДЕЛАТЬ БЛОК WORK EXPERIENCE*/
.work-experience {
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding:80px 0px 80px 0px;
    border-bottom:1px #e5e5e5 solid;
    
}


h2.heading-block-name {
    font-weight:400;
    width:100%;
    
}

.work-experience__experience-left-block,
.work-experience__experience-right-block {

    width:43%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding:100px 0px 0px 0px;
    

}

.block-with-description-and-date-and-name {
    position: relative;
    padding: 8px 20px 10px 20px;
    background-color:#353541;
    border-radius:7px;
    display:inline-block;
   

        .block-with-description-and-date-and-name__head {
        font-size:1.35rem;
        color:#bebed0;
        font-family: Raleway-Medium;
        line-height:1;
        margin:8px 0px 8px 0px;

            .block-with-description-and-date-and-name__head-name {
            color:#ffffff;
            
         }
     }

        .block-with-description-and-date-and-name__date {
        color:#d35965;
        font-size:1.2rem;
        font-family: Raleway-Medium;
        line-height: 0.8;
        margin:6px 0px 6px 0px;
     }

        .block-with-description-and-date-and-name__description {
        @extend .text-description-for-other-item;
        line-height: 1.2;
        margin:6px 0px 6px 0px;
        
     }

}

.block-with-description-and-date-and-name:after {
    display:inline-block;
    border-left:#353541 solid 40px;
    border-top:25px solid;
    border-bottom:solid 15px #353541;
    border-right-color:transparent;
    border-top-color:transparent;
    border-bottom-color:transparent;
    transform:skewY(12deg);
    content:"";
    right:0px;
    position: absolute;
    right:-18px;
    bottom:0px;
    bottom:20px
}



.block-with-description-and-date-and-name_arraw-on-left-side:after {
    display:none;
}


.block-with-description-and-date-and-name_arraw-on-left-side:before {
    display:none;
    display:inline-block;
    border-right:#353541 solid 40px;
    border-top:15px solid;
    border-bottom:solid 25px #353541;
    border-left-color:transparent;
    border-top-color:transparent;
    border-bottom-color:transparent;
    content:"";
    transform:skewY(12deg);
    position: absolute;
    left:0px;
    top:0px;
    left: -18px;
    top: 20px;
}


.work-experience__experience-right-block {

    padding:0px 0px 95px 0px;
}

/*ЗАКОНЧИЛ ДЕЛАТЬ БЛОК EXPERIENCE*/

/*НАЧАЛ ДЕЛАТЬ БЛОК EDUCATION*/
.education {
    @extend .work-experience;
}

.education__left-block,
.education__right-block {

    @extend .work-experience__experience-left-block;
}

.education__right-block {
    @extend .work-experience__experience-right-block;
}

/*ЗАКОНЧИЛ БЛОК EDUCATION*/


/* НАЧАЛДЕЛАТЬ БЛОК  MY SKILLS*/


.my-skills-wrapper {
    background-color:#1d1d24;
    color:#ffffff;

    .my-skills {
        display:flex;
        justify-content:space-between;
        flex-wrap: wrap;
        padding:65px 0px 65px 0px;

        .my-skills-item {
            display:flex;
            flex-wrap:wrap;
            width:45%;
            font-family: Raleway-Medium;
            justify-content: space-between;

            .my-skills-item__name {
                width:100%;
                font-size:1.4rem;
                font-weight:500;
            }
            
            .my-skills-item__progressBar {
                 border:none;
                 background:#bcbcbe;
                 height:5px;
                 width:85%;
            }

            .my-skills-item__value {
                font-size:1.4rem;
                font-weight:500;
                position: relative;
                bottom:8px;
            }
                
        }
    }
}

.heading-block-name_color-white {
    color:#ffffff;
}

.my-skills-item__progressBar::-webkit-progress-value {
    background:#e85662; 
}


.my-skills-item__progressBar::-moz-progress-bar {
    background:#e85662; 
}


.my-skills-item__progressBar::-ms-fill  {    //background for IE and Edge progress bar
    background:#e85662;
}




/*ЗАКОНЧИЛ ДЕЛАТЬ БЛОК MY SKILLS*/

/*НАЧАЛ ДЕЛАТЬ LEAVE A MESSAGE*/

.leave-a-message-wrapper {
    padding:75px 0px 80px 0px;

    .conteiner {
    display:flex;
    justify-content: space-around;
    

            .leave-a-message {
        width:50%;
        box-sizing:border-box;
        overflow:hidden;

                .form {
                padding-right:80px;
                 box-sizing:border-box;
                 overflow:hidden;
             }
        }


        .contact-information {
            width:50%;
            font-family: Raleway-Medium;
            color:#3e3e3e;
            font-size:1.4rem;
            line-height:1;
            border-left:1px solid #cccccc;
            padding: 0px 0px 0px 55px;
        }


    }
}



.form__input-name,
.form__input-email {
    width: 93%;
    height:35px;
    border:solid 1px #353541;
    color:#747474;               /*Почему form не воспринимает padding от родительского блока*/
    font-family: Raleway-Medium;
    padding:0px 0px 0px 13px;
    font-size:1.2rem;
    margin-top:20px;
}


.form__input-message {
    @extend .form__input-name;
    padding:3px 0px 5px 13px;
    margin-bottom: 25px;
    height:100px;
    min-height:100px;
    min-width:93%;
    max-height:100px;
    max-width:93%;
    overflow:auto;
}


.form-label {
    display:block;
    width:100%;
    font-size:1.8rem;
    color:#3e3e3e;
    font-family: Raleway-Medium;

}

.buttom_in-form {
    padding: 12px 20px 12px 20px;
    font-size: 1.3rem;
    border-radius: 0px;
    font-family: Raleway-Medium;
    margin: 0 0 0px 65%;
}


.contact-information__email,
.contact-information__toll-free-call {

    margin-top:40px;
}

.contact-information__icon {
    width:38px;
    height:38px;
    display:inline-block;
}


.contact-information__description {
    display:inline-block;
    margin-left:40px;
    
}


/*HOVER ДЛЯ ICON*/

@keyframes contact-information__icon 
{
    15%
    {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }
    
    30%
    {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }
    
    40%
    {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    
    50%
    {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    
    65%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes contact-information__icon
{
    15%
    {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }
    
    30%
    {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }
    
    40%
    {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    
    50%
    {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    
    65%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.contact-information__location:hover .contact-information__icon,
.contact-information__email:hover .contact-information__icon,
.contact-information__toll-free-call:hover
.contact-information__icon
{
    -webkit-animation: contact-information__icon 0.6s ease;
    animation: contact-information__icon 0.6s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
/*СПРОСИТЬ КАК ПРИМЕНЯТЬ АНИМАЦИЯ ПО НАЗВАНИЮ ЧЕРЕЗ CSS*/
/*ЗАКОНЧИЛ HOVER ДЛЯ ICON*/
/*ЗАКОНЧИЛ ДЕЛАТЬ LEAVE A MESSAGE*/

/*НАЧАЛ ДЕЛАТЬ FOOTER*/

.footer {

    .conteiner {
    padding:30px 0px 30px 0px;
    border-top:solid 1px #e5e5e5;

        .widgets {
        padding:0px 0px 20px 0px;
        display:flex;
        justify-content: center;
        }

        .rights {
            font-size:1.1rem;
            color:#3e3e3e;
            text-align: center;
            font-family: Raleway-Medium;
        }

     }

}


.twitter-icon,
.skype-icon,
.dribbble-icon {
    width:20px;
    height:20px;
    display:inline-block;
    padding:0px 10px 0px 10px;
    border-left:solid 1px #acacac;
    fill:#9b9b9b;
}

.twitter-icon {
    border-left:none;
}

/*hover для widgets*/
.twitter-icon:hover {
    fill:#69d4d8;
}

.skype-icon:hover {
    fill:#69d4d8;
}

.dribbble-icon:hover {
    fill:#EA4C89;
}

/*ЗАКОНЧИЛ ДЕЛАТЬ hover ДЛЯ widgets*/

/*ЗАКОНЧИЛ ДЕЛАТЬ FOOTER*/



/*Адаптив */
@media (max-width:1000px) {
    // .menu-button-input:checked ~ .main {
    //     -webkit-transform: translateX(275px);
    //     -moz-transform: translateX(275px);
    //     transform: translateX(275px);
    //     transition:  0.3s;
    // }


    // .menu-button-input:checked ~ .header {
    //     -webkit-transform: translateX(275px);
    //     -moz-transform: translateX(275px);
    //     transform: translateX(275px);
    //     transition:  0.3s;
    // }


    // .menu-button-input:checked ~ .footer {
    //     -webkit-transform: translateX(275px);
    //     -moz-transform: translateX(275px);
    //     transform: translateX(275px);
    //     transition:  0.3s;
    // }

    .menu-button {
        left:70px;
    }

    .header {
        .header__title {
            #lineDrawing {
                width:530px;
            }
        }
    }
}


@media (max-width:900px){
    .menu-button {
        left:60px;
        top:30px; 
    }

}

@media (max-width:800px) {
    .conteiner {
        width: 93vw;
        margin:0 auto;
        
    }

    .menu-button {
        left: 30px;
    }

    .about-me-photo{
        padding-left:0px;

        .about-me-photo-image {
            height: auto;
            width: 320px;
            margin-left:40px;

         }

        .about-me-photo-image_smile {
            width: 320px;
            left:40px;
            position: absolute;
            max-width:none;
            
        }
    }

    .leave-a-message-wrapper{
        .conteiner {
            flex-wrap:wrap;
                .leave-a-message {
                    width:100%;
                    .form {
                        padding-right: 30px;
                        display:flex;
                        flex-wrap: wrap;
                        justify-content: flex-end;
                        .buttom_in-form {
                            padding: 18px 35px 18px 35px;
                            font-size: 1.8rem;
                    }
                        .form-label {
                            margin-left: 5%;
                    }
                }
            }

            .contact-information {
                width:100%;
                border-left:none;
                margin-top:30px;
            }

        }
    }

    .menu-button {
        left:40px;
        top:20px;
    }

    .header {
        .header__title {
            #lineDrawing {
                width:480px;
            }
        }
    }

}

@media (max-width:730px) {
    .about-me-photo{
        padding-left:0px;

         .about-me-photo-image {
            height: auto;
            width: 260px;
            margin-left:40px;

     }

        .about-me-photo-image_smile {
            width: 260px;
            left:40px;
            position: absolute;
            max-width:none;
        
    }
    }

    .header .header__title {
        .header__title-heading {
            font-size: 3.2rem;
        }
    }
}


@media (max-width:650px) {
    .header {
        .header__title{
            #lineDrawing {
                width:430px;
            }
        }
    }

    .menu-button {
        left:20px;
        top:20px;
    }

    .header .header__title {
        padding: 105px 0px 45px 0px;
    }
}

@media (max-width:620px) {
    .about-me {
        flex-wrap:wrap;


        .about-me-photo-image_smile {
            width:100%;
            margin-left:0px;
            max-width:100%;
            left:0px;
        }
    
        .about-me-photo-image {
            width:100%;
            margin-left:0px;
            max-width: 100%;
        }
    }
    .about-me__text {
        width:100%;
        order:10;
    }

    .about-me-photo {
        display:inline-block;
        order:1;
        margin:0 auto;
        margin-bottom: 40px;
        width: 70%;
    }

    .menu-button {
        top:20px;
    }



    .header .header__title {
        .header__title-heading {
            font-size: 2.5rem;
        }

        .header__title-description {
            width: 325px;
        }

        .button {
            padding: 12px 24px 12px 24px;
        }
    }


    .work-experience__experience-left-block,
    .work-experience__experience-right-block {
        width:83%;
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        padding:20px 0px 0px 0px;
        margin:0 auto;
    
   }

   .work-experience__experience-right-block {
       padding:0px;
   }

   .block-with-description-and-date-and-name {
       margin-top:20px;
   }

   .work-experience__experience-center-line {
       display:none;
   }



   .block-with-description-and-date-and-name_arraw-on-left-side:after {
       display:none;
   }

   .block-with-description-and-date-and-name_arraw-on-left-side:before {
       display:none;
   }

   .block-with-description-and-date-and-name::after {
       display:none;
   }

}

@media (max-width:600px) {
    .header {
        .header__title{
            #lineDrawing {
                width:430px;
            }
        }
    }
}


@media (max-width:550px) {
    .my-skills-wrapper .my-skills .my-skills-item {
        width: 85%;
    }

    .header {
        .header__title{
            #lineDrawing {
                width:390px;
            }
        }
    }

    .leave-a-message-wrapper {
        .conteiner {
            flex-wrap:wrap;

            .leave-a-message {
                width:100%;
                .form {
                    padding-right: 15px
                }
            }
        
            .contact-information {
                width:100%;
                border-left:none;
                margin-top:30px;
                padding: 0px 0px 0px 20px;
                font-size: 1.2rem;
                .contact-information__description {
                    margin-left: 25px;
                    width: 75%;
                }
            }
        }
    }
}

@media (max-width:450px) {
    .header {
        .header__title {

            .header__title-heading {
                font-size: 2.3rem;
            }

            #lineDrawing {
                width:350px;
            }
                
            .header__title-description {
                width: 295px;
                line-height: 2;
            }

        }
    }
    .about-me-photo:hover 
    .about-me-photo-image_smile {
        opacity:1;
        // -webkit-transition:opacity 0.1s linear;
        //  -moz-transition:opacity 0.1s linear;
        //  -o-transition:opacity 0.1s linear;
        //  transition:opacity 0.1s linear;
    }
    
    .about-me-photo:hover 
    .about-me-photo-image {
        opacity:0;
    }
    .about-me-photo:hover 
    .about-me-photo-image_smile {
        opacity:0;
        
        // -webkit-transition:opacity 0.1s linear;
        //  -moz-transition:opacity 0.1s linear;
        //  -o-transition:opacity 0.1s linear;
        //  transition:opacity 0.1s linear;
    }

    .about-me-photo:hover 
    .about-me-photo-image {
        opacity:1;
    }
}

@media (max-width:400px) {

    .header {
        .header__title {

            #lineDrawing {
                width:320px;
            }

            .header__title-heading {
                font-size: 2rem;
            }

            .header__title-description {
                width: 255px;
               
            }

        }
    }
}

@media (max-width:400px) {
    .header {
        .header__title{
            #lineDrawing {
                width:290px;
            }
        }
    }
}
