doctype
html(lang="eng-ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="styles/main.css" rel="stylesheet")
        title="Дипломный проект"
    body
        header.header
            .conteiner 
                .header__title
                    h1.header__title-heading Lets Make Something Great
                    p.header__title-description I'm an UI designer that prides ourself on being strategic brand partners and awesome product providers
                    button.header__button Hire Me!
        section.main
            .conteiner
                .about-me
                    .about-me__text
                        .heading-block-name About Me
                            .heading-block-name__border                          
                        .about-me__text-description Lorem ipsum dolor sit amer, ectetuer nonummy nibh euismod tincidunt ut laoreet magna laoreet aliquam erat volutpat
                        .about-me__text-item-resume.
                             #[span.about-me__text-item-resume-category Name :]
                            Al Rayhans
                        .about-me__text-item-resume. 
                             #[span.about-me__text-item-resume-category Age :]
                            23 Years
                        .about-me__text-item-resume. 
                            #[span.about-me__text-item-resume-category Email :]
                            mail@deviserweb.com
                        .about-me__text-item-resume. 
                            #[span.about-me__text-item-resume-category Adress :]
                            24, Gold Street, New
                    .about-me-photo
                        img.about-me-photo-image(src="image/photo-in-blocl-about-us.jpg")
                .work-experience
                    h2.heading-block-name Work Experience
                        .heading-block-name__border
                    
                    .work-experience__experience-left-block
                       .block-with-description-and-date-and-name
                            h4.block-with-description-and-date-and-name__head.
                                #[span.block-with-description-and-date-and-name__head-name CEO & Founder ] 
                                 @DeviserWeb
                            p.block-with-description-and-date-and-name__date JAN 2013 - DEC 2014
                            p.block-with-description-and-date-and-name__description Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.

                       .block-with-description-and-date-and-name
                            h4.block-with-description-and-date-and-name__head.
                                #[span.block-with-description-and-date-and-name__head-name Marketing Manager ] 
                                 @Starlab
                            p.block-with-description-and-date-and-name__date JAN 2013 - DEC 2014
                            p.block-with-description-and-date-and-name__description Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.

                    .work-experience__experience-center-line
                        img.work-experience__experience-center-line-image(src="image/line-center-in-work-experience-block-on-HOME_PAGE.png")

                    .work-experience__experience-right-block
                        div(class="block-with-description-and-date-and-name block-with-description-and-date-and-name_arraw-on-left-side")
                            h4.block-with-description-and-date-and-name__head.
                                #[span.block-with-description-and-date-and-name__head-name UI/UX Designer ] 
                                 @Academy
                            p.block-with-description-and-date-and-name__date JAN 2013 - DEC 2014
                            p.block-with-description-and-date-and-name__description Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.

                        div(class="block-with-description-and-date-and-name block-with-description-and-date-and-name_arraw-on-left-side")
                            h4.block-with-description-and-date-and-name__head.
                                #[span.block-with-description-and-date-and-name__head-name Creative Director ] 
                                 @Academy
                            p.block-with-description-and-date-and-name__date JAN 2013 - DEC 2014
                            p.block-with-description-and-date-and-name__description Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.
                .education
                    h2.heading-block-name Education
                        .heading-block-name__border
                    
                    .education__left-block
                        .block-with-description-and-date-and-name
                            h4.block-with-description-and-date-and-name__head.
                                #[span.block-with-description-and-date-and-name__head-name CEO & Founder ] 
                                 @DeviserWeb
                            p.block-with-description-and-date-and-name__date JAN 2013 - DEC 2014
                            p.block-with-description-and-date-and-name__description Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.
                        .block-with-description-and-date-and-name
                            h4.block-with-description-and-date-and-name__head.
                                #[span.block-with-description-and-date-and-name__head-name Marketing Manager ] 
                                 @Starlab
                            p.block-with-description-and-date-and-name__date JAN 2013 - DEC 2014
                            p.block-with-description-and-date-and-name__description Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.

                    .work-experience__experience-center-line
                            img.work-experience__experience-center-line-image(src="image/line-center-in-work-experience-block-on-HOME_PAGE.png")

                    .education__right-block
                        div(class="block-with-description-and-date-and-name block-with-description-and-date-and-name_arraw-on-left-side")
                            h4.block-with-description-and-date-and-name__head.
                                #[span.block-with-description-and-date-and-name__head-name UI/UX Designer ] 
                                 @Academy
                            p.block-with-description-and-date-and-name__date JAN 2013 - DEC 2014
                            p.block-with-description-and-date-and-name__description Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.
                        div(class="block-with-description-and-date-and-name block-with-description-and-date-and-name_arraw-on-left-side")
                        
                            h4.block-with-description-and-date-and-name__head.
                                #[span.block-with-description-and-date-and-name__head-namee Creative Director ] 
                                 @Academy
                            p.block-with-description-and-date-and-name__date JAN 2013 - DEC 2014
                            p.block-with-description-and-date-and-name__description Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.





                

                        
                         



            





